*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

header{
    background-color: #F3F8FF;
}

.header_container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 24px 16px;
}

.navbar_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
  width: 157px;
  height: 54px;
}

.nav{
    display: flex;
    gap: 96px;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 48px;
    align-items: center;
}

.nav ul li a{
    text-decoration: none;
    font-weight: 800;
    font-size: 19px;
    line-height: 25px;
    vertical-align: middle;
    color: #02033B;
}

#signin{
    padding: 10px 20px;
    border: none;
    border-radius:42px;
    background-color: #4335DE;
    color: #ffff;
    display: block;
}


.dropdown {
    width: 120px;
  }
  
  .dropdown {
    position: relative;

  }
  
  .dropdown .dropdown-placeholder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .dropdown .dropdown-placeholder:hover {
    cursor: pointer;
  }

.dropdown-placeholder-label{
    font-weight: 800;
    font-size: 19px;
    line-height: 25px;
    vertical-align: middle;
    color: #02033B;
}
  
  .dropdown svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
  }
  
  .dropdown.open .dropdown-items {
    visibility: visible;
    pointer-events: all;
  }
  
  .dropdown.open .dropdown-placeholder .chevron {
    transition: transform 250ms ease;
  }
  
  .dropdown.open .dropdown-placeholder .chevron {
    transform: rotate(180deg);
  }
  
  .dropdown .dropdown-items {
    position: absolute;
    top: 40px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:  #F3F8FF;
    visibility: hidden;
    overflow: hidden;
    pointer-events: none;
  }
  
  .dropdown .dropdown-items .dropdown-item {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    text-decoration: none;
    color: #212121;
  }
  
  .dropdown .dropdown-items .dropdown-item:hover {
    background-color: #4335DE;
  }
  
  .dropdown .dropdown-items .dropdown-item .dropdown-label {
    pointer-events: none;
  }
  
  .dropdown .dropdown-items .dropdown-item .check {
    display: none;
    height: 24px;
  }
  
  .dropdown .dropdown-items .dropdown-item.selected .check{
    display: block;
  }
  

.active-btn {
    background: #4abe85;
    color: #ffffff;
    border-radius: 2rem;
    transition: all .3s ease;
}

    .active-btn:hover {
        background: #fe8040;
        color: #ffffff;
  }


 /*  hero section start */

 .hero_container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 16px;
 }

 .hero_row{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index: 2;
 }

 .hero_col{
    width: 50%;
    padding-top: 123px;
 }

 .hero_content_box h1{
    font-weight: 800;
    font-size: 60px;
    line-height: 75px;
    letter-spacing: -1.2px;
    vertical-align: middle;
    color: #02033B;
 }

.hero_content_box p{
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  vertical-align: middle;
  padding-top: 52px;
  color: #02033B;
}

.hero_content_box img{
  width: 241.5px;
  height: 461.25px;
  margin-left: 35px;
}

.hero_button{
  display: flex;
  padding-top: 100px;
  gap: 68px;
}

.hero_button button{
  border-radius: 42px;
  background-color: #FFC247;
  color: #02033B;
  padding: 16px 16px 16px 16px;
  border: none;
}

.hero_button button a{
  text-decoration: none;
  font-family: Inter;
  font-weight: 800;
  font-size: 19px;
  line-height: 22.5px;
  vertical-align: middle;
  color: #02033B;
}

.hero_button button a:hover{
  color: white;
}

.hero_figure{
  width: 41%;
  position: absolute;
  z-index: 1;
  margin-top: 69px;
  translate: 100% 0%;
  /* top: 69px; */
  /* right: -10px; */
}







@media (max-width: 992px) {

    .menu {
        height: 100vh;
        position: fixed;
        top: 106px;
        right: -100%;
        display: block;
        padding: 50px 50px;
        text-align: center;
        width: 100%;
        background: #F7C95F;
        transition: .5s ease;
        z-index: 999;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .menu.active { 
      right: 0;
    }


    .toggle {
        width: 40px;
        height: 40px;
        background: url('https://i.postimg.cc/mkFvyH7n/menu.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }

    .toggle.active {
        background: url('https://i.postimg.cc/QCG3PmND/close.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    

}

@media (max-width: 576px) {

}





